* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #777777;
    transition-duration: 0.25s;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #111111;
    color: #fafafa;
    animation: fadein 1.5s;


}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.botao-cabecalho {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 115%;
    margin-top: 45px;

}

.link:hover {
    color: #fafafa;
}

#cabecalho {
    display: flex;
    width: 60%;
    height: 110px;
}

#logo {
    width: 80px;
    object-fit: contain;
    margin-right: 48%;
    margin-left: 90px;
}

#botao-home {
    color: #fafafa;
    margin-right: 30px;
}

#botao-home2 {
    color: #777777;
    margin-right: 30px;
}



#botao-portifolio {
    color: #777777;
    margin-right: 90px;
}

#botao-portifolio2 {
    color: #fafafa;
    margin-right: 90px;
}

#botao-portifolio:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}

#botao-home2:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}

#text {
    font-family: monospace;
    margin-top: 250px;
    margin-left: 25%;
    margin-right: 33%;
    border-right: 2px solid #b0a6bd;
    border-bottom: 2px solid #b0a6bd;
    padding-bottom: 20px;
}

#text-title {
    margin-bottom: 20px;
    font-size: 25px;
}

#text-string {
    font-size: 30px;
}

#link-redes {
    margin-left: 25%;
    margin-top: 10px;

    img {
        margin-right: 15px;
        width: 25px;
        height: 25px;
    }
}

#botao-curriculo {
    display: inline-block;
    background-color: #fafafa;
    color: #111111;
    font-family: monospace;
    margin-left: 35.4%;
    border-radius: 5px;
    width: 120px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    

}

#botao-curriculo:hover {
    transition-duration: 0.25s;
    color: #fafafa;
    background-color: #111111;
}