* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
}

a {
    text-decoration: none;
    background: linear-gradient(to right,
            #b0a6bd,
            #704ba0);
    background-clip: text;
    color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    color: #fafafa;
    animation: fadein 1.75s;

}


.botao-cabecalho {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;

}

a:hover {
    background: linear-gradient(to left,
            #b0a6bd,
            #704ba0);
    background-clip: text;
    color: transparent;


}


.portifolio-cards {
    animation: pulse 3s initial;
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 75px;
    border: solid 2px #704ba0;
    border-top: solid 1px #704ba0;
    border-left: solid 1px #704ba0;
    font-size: 1rem;
    background-color: #202020;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    opacity: 85%;
}

.title-card {
    width: 60%;
    font-family: monospace;

}

.portifolio-cards:hover {
    position: relative;
    bottom: 1vh;
    border: #b0a6bd solid 2px;
    opacity: 100%;
    cursor: pointer;
}

.img-cards {
    max-width: 15rem;
    max-height: 15rem;
    width: auto;
    height: auto;
    margin: auto 0;
    border-radius: 42.5px;

}

.portifolio-texts {
    font-family: monospace;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background: #191919;
    box-shadow: 0 0 2px 1px #b0a6bd;
    border-radius: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;



}

.close {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
    font-size: 3rem;
    cursor: pointer;


}

.close:hover {
    color: #b0a6bd;
}


#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 6.875rem;
}

#logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

#botao-home {
    margin-left: 30vw;
    color: #fafafa;
}

#botao-home2 {
    margin-left: 30vw;
    color: #777777;
}


#botao-portifolio {
    color: #777777;
}

#botao-portifolio2 {
    color: #fafafa;
}

#botao-portifolio:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}

#botao-home2:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}



#text {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    font-family: monospace;
    border-right: 3px solid #704ba0;
    border-bottom: 3px solid #704ba0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    width: 50%;

}

#text h1 {
    font-size: 1.563rem;
    margin-bottom: 1%;
}

#text p {
    font-size: 1.875rem;
}

#link-redes {
    margin: 0 auto;
    position: relative;
    top: 20.5vh;
    width: 50%;

    img {
        margin: auto 0;
        margin-right: 0.75%;
        width: 25px;
        height: 25px;
    }
}

#botao-curriculo {
    position: relative;
    margin: 0 auto;
    top: 50vh;
    font-family: monospace;
    font-size: 1.25rem;
    border-radius: 10px;
    width: 15.625rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid #b0a6bd;
    animation: pulse 3s infinite;


}

#botao-curriculo:hover {
    border: 1px solid black;
    transition-duration: 0.25s;
    box-shadow: 0px 0px 7px #fafafa;
    color: #111111;
    background-color: #fafafa;
    transition-duration: 1;
    animation: none;
}

#container-potifolio {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
    min-height: 100vh;
    width: 60vw;
}

#hiv-card {
    h1 {
        background: linear-gradient(to right bottom,
                #f8e584,
                #b85e00);
        background-clip: text;
        color: transparent;
    }
}

#hiv-text {
    h2 {
        background: linear-gradient(to right bottom,
                #f3cf33,
                #b85e00);
        background-clip: text;
        color: transparent;

        justify-self: center;
        font-size: 3.125rem;
    }

    iframe {
        max-width: 50%;
        max-width: 50%;
        height: 25rem;
        width: 31.25rem
    }

    p {
        margin-top: 0.438rem;
        margin-right: 0.438rem;
        margin-left: 0.438rem;
        text-align: justify;
        font-size: 1.25rem
    }


}


@keyframes pulse {
    0% {
        @include transform(scale(.9));
    }

    50% {
        @include transform(scale(1));
        box-shadow: 0 0 0 0;
    }

    70% {
        @include transform(scale(1.1));
        box-shadow: 0 0 15px 5px #44009c;
    }

    100% {
        @include transform(scale(.9));
        box-shadow: 0 0 0 0 #44009c;
    }
}