* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #777777;
    transition-duration: 0.25s;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #111111;
    color: #fafafa;
    animation: fadein 1.75s;

}


.botao-cabecalho {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 115%;

}

.link:hover {
    color: #fafafa;
}

#cabecalho {
    display: flex;
    justify-content: space-between ;
    align-items:center;    margin: 0  auto;
    width: 50%;
    height: 110px;
}

#logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#botao-home {
    margin-left: 55%;
    color: #fafafa;
}

#botao-home2 {
    margin-left: 55%;
    color: #777777;
}



#botao-portifolio {
    margin-right: 5%;
    color: #777777;
}

#botao-portifolio2 {
    margin-right: 5%;
    color: #fafafa;
}

#botao-portifolio:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}

#botao-home2:hover {
    color: #fafafa;
    transition-duration: 0.25s;
}



#text {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    font-family: monospace;
    border-right: 3px solid #b0a6bd;
    border-bottom: 3px solid #b0a6bd;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    width: 50%;

}

#text-title {
    font-size: 25px;
    margin-bottom: 1%;
}

#text-string {
    font-size: 30px;
}

#link-redes {
    margin: 0 auto;
    position: relative;
    top: 20.5vh;
    width: 50%;
    img {
        margin: auto 0;
        margin-right: 0.75%;
        width: 25px;
        height: 25px;
    }
}

#botao-curriculo {
    position: relative;
    margin: 0 auto;
    top: 50vh;
    background-color: cbc3c3;
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-bottom:2px solid #b0a6bd;
    border-right: 2px solid #b0a6bd;

    

}

#botao-curriculo:hover {
    border-bottom:1px solid black;
    border-right:1px solid black;
    transition-duration: 0.25s;
    color: #111111;
    background-color: #fafafa;
}